@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  background: rgba(128, 128, 128, 0.219);
  margin: 20px 200px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slogen {
  font-family: "Pacifico", cursive;
  font-size: 1.5em;
  font-weight: 400;
}

.logo{
  display: flex;
  align-items: center;
  gap: .5em;
}

.storie-card {
  display: none;
  height: 500px;
  width: 450px;
  margin: 0em auto;
  border-radius: 1em;
  background-color: rgb(245, 245, 245);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -2px -2px gray;
}

.storie-list{
  display: flex;
  gap: .4em;
}

.storie-bars {
  display: flex;
  padding: 1em .5em;
  background: transparent;
}

.bar {
  height: 4px;
  width: 100%;
  background: gray;
  margin: 0em .05em;
  border-radius: .2em;
}

.story-thumbnail {
  margin: 1em .2em;
  padding: .2em;
  display: flex;
  gap: .5em;
  border-radius: .5em;
  cursor: pointer;
}

.action-elements {
  border-radius: 100%;
  border: 1px solid #9B4DFF;
  /* border-image: linear-gradient(#9B4DFF, #F58529) 1; */
}

.upload-btn {
  color: black;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: .4em;
  border: 1px solid gray;
  background: transparent;
  padding: .2em .5em;

}


.pic {
  width: 50px;
  height: 50px;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background: linear-gradient(135deg, #9B4DFF, #F58529);
  border-radius: .2em;
}

.story-container{
  justify-content: center;
  align-items: start;
  margin: 2em;
}
.next-btn{
  cursor: pointer;
  background: transparent;
  display: none;
  border: none;
} 

.caurosel{
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
}

.upload-container{
  width: 70%;
  margin: 1px auto;
  background: rgba(255, 255, 255, 0.404);
  border-radius: .5em;
}

.create{
  margin: 0;
  padding: 0;
}