:root{
  --federal-blue : #0e0e52;
  --persian-blue : #192bc2;
  --navy-blue : #150578;
  --celestial-blue: #449DD1;
  --skt-blue: #78C0E0;
}

body{
  background-color: var(--federal-blue);
  padding: 0;
  margin: 0;
}
.all-info{
  display: flex;
  align-items: start;
}

.storie-upload{
  background: var(--navy-blue);
  min-height: 100vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.btn-storie{
  font-size: 2em;
  border: 1px solid var(--navy-blue);
  background: var(--federal-blue);
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.747);
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.pic{
  width: 50px;
  height: 50px;
  border: 1px solid var(--skt-blue);
  border-radius: 50%;
  opacity: 90%;
}


.bar{
  width: 0%;
  height: 2px;
  background-color: var(--skt-blue);
  margin: .2em;
}

.stories{
  justify-self: center;
  display: flex;
  flex-direction: column;
  margin: 2em 0em;
  gap: .1em;
  width: 50vw;
  padding: .1em;
}

.viewpic{
  max-height: 600px;
  border-radius: .5em;
}